@import url(./reset.css);
@import url(./counters.css);
@import url(./buttons.css);
@import url(./oven.css);

:root {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

* {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
}

body {
    margin: 0;
    height: 100vh;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    border-width: 2rem;
    border-style: solid;
    border-image: linear-gradient(to right, #dd5e89, #f7bb97) 1;
}
